
/* css reset with Normalize and skeleton used for grid system */
@import url(normalize.css);
/*@import url(skeleton.css);*/

/* FONT -- Quicksand light, Normal, Bold */
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

body {
	font-family: 'Quicksand', sans-serif;
	background:
	/* top, transparent red, faked with gradient */
	linear-gradient(
		rgba(255, 255, 255, 0),
		rgba(0, 0, 0, 0.55)
	),
	/* bottom, image */
	url(../img/background.jpg);
	background-position: center;
	background-size: cover;
}

header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.main-content {
		align-self: center;
		background-color: #FFF7E8;
		border-radius: 20px;
		padding: 50px;
		margin: 50px;
		-webkit-box-shadow: 3px 11px 59px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 3px 11px 59px 0px rgba(0,0,0,0.48);
	box-shadow: 3px 11px 59px 0px rgba(0,0,0,0.48);
}

.logo {
	align-self: auto;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.logo h1 {
	font-size: 40px;
	letter-spacing: 8px;
}

.logo h2 {
	font-size: 30px;
}

.contact-info {
	align-self: auto;
	margin-top: 0px;
	padding-top: 10px;
	text-transform: uppercase;
}

.contact-info a {
	text-decoration: none;
	color: black;
}

.contact-info a:hover {
	color: #FF5933;
	border-bottom: 1px solid #FF5933;
	padding-bottom: 5px;
}




@media only screen and (max-device-width: 480px) {


}
